.square {
    background: #fff;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-top:-1px;
    margin-right: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}
.status {
    margin-bottom: 10px;
    text-align: center;
}
.row-square {
    display: flex;
    justify-content: center;
}
.row-square:nth-child(1) .square{
    margin-top:auto;
}
.squareInput {
    width: 200px;
    height: 28px;
    border: 1px solid #999;
}
.squareBtn {
    width: 40px;
    height: 28px;
    border:1px solid #999;
    background: none;
    color: #999;
}
.highlight {
    color: red;
}